/***** Portfolio *****/


#banner {
    height: 100vh;
    background-image: url('../images/banner.png');
    /* Flexbox */
    display: flex;
    align-items: center;
   }

   
h1{
	color: ghostwhite;
	font-weight: bolder;
}
/*
#banner{
 background-image: url(../images/map.jpg);
 background-size: cover;
       background-repeat: no-repeat;
      background-position: center;
      padding-top:68px;
      margin-bottom:50px;
		color = white
}
*/

/* .footer{
	
} */
/*
 #headline1 {
      background-image: url(images/newsletter_headline1.gif);
      background-repeat: no-repeat;
      background-position: left top;
      padding-top:68px;
      margin-bottom:50px;
   }
*/
/*
 .jumbotron{
    background: url("images/map.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
} 
*/
/* 
.jumbotron jumbotron{
    background-image: url('../images/banner.png';)
    background-size: cover;
    background-repeat: no-repeat;
   } */


   /***** About us *****/
 
.about-us-box {
    margin-top: 20px;
}
 
.about-us-box-text {
    padding-right: 30px;
    text-align: left;
}
 
.about-us-box-text h3 {
    margin-top: 0;
}
 
.about-us-box-text .medium-paragraph {
    margin-top: 0px;
    margin-bottom: 20px;
}
 
.about-us-box-text a {
    border-bottom: 1px dashed #9b59b6;
}
 
.about-us-box-text a:hover,
.about-us-box-text a:focus {
    border: 0;
}
 
.about-us-box-img img {
    border-radius: 4px;
}
 
/***** Portfolio *****/
 
.portfolio-box {
    padding-top: 30px;
    text-align: left;
}
 
.portfolio-box-image {
    overflow: hidden;
    border-radius: 4px;
}
 
.portfolio-box-image img {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
}
 
.portfolio-box-image:hover img {
    -o-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
 
.portfolio-box h3 {
    margin-top: 30px;
}
.portfolio-box h3 a { color: #555; }
.portfolio-box h3 a:hover, 
.portfolio-box h3 a:focus { color: #9b59b6; }
 
.portfolio-box h3 i {
    padding-left: 10px;
    color: #ccc;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.portfolio-box h3:hover i { padding-left: 15px; }
 
.portfolio-box-date {
    padding-bottom: 10px;
    font-size: 14px;
    color: #aaa;
    text-transform: uppercase;
}
 
.portfolio-box-date i {
    padding-right: 5px;
    color: #ddd;
}
 
.portfolio-container .section-bottom-button {
    padding-top: 40px;
}

}
 
.portfolio-container .section-bottom-button {
    padding-top: 0px;
}